<ng-form id="new_request" class="request-form form-label form-css-label" name="requestForm" ng-if="formName">
  <fieldset class="form-field" ng-if="!user && nameField">
    <input type="text" name="request_name" id="request_name" class="SanomatGrabApp-Regular" pattern=".*\S.*" ng-model="request.name" required>
    <label class="SanomatGrabApp-LightItalic" for="request_name">Họ và Tên</label>
  </fieldset>
  <fieldset class="form-field" ng-if="!user && mobileField">
    <input type="tel" name="request_phone" id="request_phone" class="SanomatGrabApp-Regular" pattern=".*\S.*" ng-model="request.phone" required>
    <label class="SanomatGrabApp-LightItalic" for="request_phone">Số điện thoại đăng ký</label>
  </fieldset>
  <fieldset class="form-field" ng-if="!user && emailField">
    <input type="text" name="request_email" id="request_email" class="SanomatGrabApp-Regular" pattern=".*\S.*" ng-model="request.email" required>
    <label class="SanomatGrabApp-LightItalic" for="request_email">Email</label>
  </fieldset>
  <fieldset class="form-field" ng-if="cityField">
    <span class="label SanomatGrabApp-LightItalic">Tỉnh/Thành phố<br /></span>
    <city-selection id="request_city" cities="cities"></city-selection>
  </fieldset>
  <fieldset class="form-field" ng-if="vehicleTypeField">
    <span class="label SanomatGrabApp-LightItalic">Loại xe<br /></span>
    <vehicletype-selection id="request_vehicleType" vehicletypes="vehicletypes"></vehicletype-selection>
  </fieldset>
  <fieldset class="form-field" ng-if="!user && bookingField">
    <input type="text" name="request_booking_id" id="request_booking_id" class="SanomatGrabApp-Regular" pattern=".*\S.*" ng-model="request.bookingCode" required>
    <label class="SanomatGrabApp-LightItalic" for="request_booking_id">Mã chuyến xe, ngày/giờ đặt xe hoặc địa điểm đón/trả khách</label>
  </fieldset>
  <fieldset class="form-field" ng-if="user && bookingField" style="z-index: 999;">
    <div ng-if="totalBookings == 0">Không có lịch sử chuyến xe</div>
    <div class="booking-dropdown-select" ng-if="showSelectDropdown && totalBookings != 0" ng-click="showBookingDropdown()">Chọn chuyến xe cần phản hồi</div>
    <booking-dropdown id="request_booking_id" bookings="user.bookings" ng-if="!showSelectDropdown && totalBookings != 0"></booking-dropdown>
  </fieldset>
  <fieldset class="form-field" ng-if="nricField">
      <input type="text" name="request_nric" id="request_nric" class="SanomatGrabApp-Regular" pattern=".*\S.*" ng-model="request.nric" required>
      <label class="SanomatGrabApp-LightItalic" for="request_nric">Số Chứng minh thư/Thẻ căn cước tài xế</label>
  </fieldset>
  <fieldset class="form-field" ng-if="vehicleNoField">
      <input type="text" name="request_vehicle_no" id="request_vehicle_no" class="SanomatGrabApp-Regular" pattern=".*\S.*" ng-model="request.vehicleno" required>
      <label class="SanomatGrabApp-LightItalic" for="request_vehicle_no">Biển số xe</label>
  </fieldset>
  <fieldset class="form-field" ng-if="firstChargeField">
    <!-- Cannot be number input, see below link -->
    <!-- http://stackoverflow.com/questions/21177489/selectionstart-selectionend-on-input-type-number-no-longer-allowed-in-chrome -->
    <input type="number" name="request_first_charge" id="request_first_charge" class="SanomatGrabApp-Regular" pattern=".*\S.*" ng-model="request.firstCharge" required>
    <label class="SanomatGrabApp-LightItalic" for="request_first_charge">Cước phí tính lần 1</label>
  </fieldset>
  <fieldset class="form-field" ng-if="secondChargeField">
    <!-- Cannot be number input, see below link -->
    <!-- http://stackoverflow.com/questions/21177489/selectionstart-selectionend-on-input-type-number-no-longer-allowed-in-chrome -->
    <input type="number" name="request_second_charge" id="request_second_charge" class="SanomatGrabApp-Regular" pattern=".*\S.*" ng-model="request.secondCharge" required>
    <label class="SanomatGrabApp-LightItalic" for="request_second_charge">Cước phí tính lần 2</label>
  </fieldset>
  <fieldset class="form-field" ng-if="promoCodeField">
    <input type="text" name="request_promo_code" id="request_promo_code" class="SanomatGrabApp-Regular" pattern=".*\S.*" ng-model="request.promoCode" required>
    <label class="SanomatGrabApp-LightItalic" for="request_promo_code">Mã khuyến mãi</label>
  </fieldset>
  <fieldset class="form-field" ng-if="amountField">
    <!-- Cannot be number input, see below link -->
    <!-- http://stackoverflow.com/questions/21177489/selectionstart-selectionend-on-input-type-number-no-longer-allowed-in-chrome -->
    <input type="number" name="request_promo_code_amount" id="request_promo_code_amount" class="SanomatGrabApp-Regular" pattern=".*\S.*" ng-model="request.amount" required>
    <label class="SanomatGrabApp-LightItalic" for="request_promo_code_amount">Số tiền thu nhiều hơn</label>
  </fieldset>
  <fieldset class="form-field" ng-if="contactField">
    <input type="tel" name="request_contact" id="request_contact" class="SanomatGrabApp-Regular" pattern=".*\S.*" ng-model="request.contact" required>
    <label class="SanomatGrabApp-LightItalic" for="request_contact">Số điện thoại liên hệ</label>
  </fieldset>
  <fieldset class="form-field" ng-if="lastFourField">
    <input type="tel" name="request_last_four" id="request_last_four" class="SanomatGrabApp-Regular" pattern=".*\S.*" ng-model="request.lastFour" required>
    <label class="SanomatGrabApp-LightItalic" for="request_last_four">4 số cuối thẻ tín dụng</label>
  </fieldset>
    <fieldset class="form-field" ng-if="dateField">
    <input type="date" ng-if="!oldBrowser" name="requestDate" id="request_date" ng-model="request.date" required>
    <input type="text" ng-if="oldBrowser" name="request_text_date" id="request_text_date" class="SanomatGrabApp-Regular" ng-model="request.textdate" required>
    <label ng-if="oldBrowser" class="SanomatGrabApp-LightItalic" for="request_text_date">Ngày tháng</label>
    <small ng-if="oldBrowser" class='form-text text-muted input-hint'>theo định dạng: DD/MM/YYYY</small>
    <!-- There is no date label since it is inserted with Javascript to add a date floating label -->
  </fieldset>
  <fieldset class="form-field" ng-if="timeField">
    <input type="time" ng-if="!oldBrowser" name="requestTime" name="time" id="request_time" ng-model="request.time" required>
    <input type="text" ng-if="oldBrowser" name="request_text_time" id="request_text_time" class="SanomatGrabApp-Regular" ng-model="request.texttime" required>
    <label ng-if="oldBrowser" class="SanomatGrabApp-LightItalic" for="request_text_time">Thời gian</label>
    <small ng-if="oldBrowser" class='form-text text-muted input-hint'>theo định dạng: HH:MM AM/PM</small>
    <!-- There is no date label since it is inserted with Javascript to add a time floating label -->

  </fieldset>
  <fieldset class="form-field" ng-if="locationField">
    <input type="text" name="request_location" id="request_location" class="SanomatGrabApp-Regular" pattern=".*\S.*" ng-model="request.location" required>
    <label class="SanomatGrabApp-LightItalic" for="request_location">Địa điểm</label>
  </fieldset>
  <fieldset class="form-field" ng-if="injuriesField">
    <input type="text" name="request_injuries" id="request_injuries" value="&nbsp;" class="SanomatGrabApp-Regular" pattern=".*\S.*" ng-model="request.injuries" required>
    <label class="SanomatGrabApp-LightItalic" for="request_injuries">Thương tích (Điền KHÔNG nếu không có)</label>
  </fieldset>
  <fieldset class="form-field" ng-if="!user && topUpCreditIssuePaxNameField">
    <input type="text" name="request_topUpCreditIssuePaxName" id="request_topUpCreditIssuePaxName" class="SanomatGrabApp-Regular" pattern=".*\S.*" ng-model="request.topUpCreditIssuePaxName" required>
    <label class="SanomatGrabApp-LightItalic" for="request_topUpCreditIssuePaxName">Tên khách hàng</label>
  </fieldset>
  <fieldset class="form-field" ng-if="!user && topUpCreditIssueAmtField">
    <input type="number" name="request_topUpCreditIssueAmt" id="request_topUpCreditIssueAmt" class="SanomatGrabApp-Regular" pattern=".*\S.*" ng-model="request.topUpCreditIssueAmt" required>
    <label class="SanomatGrabApp-LightItalic" for="request_topUpCreditIssueAmt">Số tiền khách hàng nạp GrabPay Credits</label>
  </fieldset>
  <fieldset class="form-field" ng-if="!user && topUpCreditIssueReasonField">
    <select name="request_topUpCreditIssueReason" id="request_topUpCreditIssueReason" class="SanomatGrabApp-Regular" ng-model="request.topUpCreditIssueReason" ng-options="topupcreditissue.issue as topupcreditissue.issue for topupcreditissue in topupcreditissues" required>
        <option value="">Chọn lý do</option>
    </select>
  </fieldset>
  <fieldset class="form-field" ng-if="user && topUpCreditIssueReasonField" style="z-index: 999;">
    <div class="booking-dropdown-select" ng-if="showtopUpCreditIssueSelectDropdown" ng-click="showtopUpCreditIssueDropdown()">Chọn lý do</div>
    <topup-credit-issue-dropdown id="request_topUpCreditIssueReason" topupcreditissues="topupcreditissues" ng-if="!showtopUpCreditIssueSelectDropdown"></topup-credit-issue-dropdown>
  </fieldset>
  <fieldset class="form-field" ng-if="descriptionField">
    <input type="text" name="request_description" id="request_description" class="SanomatGrabApp-Regular" pattern=".*\S.*" ng-model="request.description" required>
    <label class="SanomatGrabApp-LightItalic" for="request_description">Mô tả vấn đề gặp phải</label>
  </fieldset>
  <fieldset class="form-field photos" ng-if="attachmentField">
    <input id="fileInput" accept="image/*" name="photos" type="file" multiple onchange="angular.element(this).scope().addAttachment(window.event)">
    <button class="ng-file-input" role="button" onclick="document.getElementById('fileInput').click();">Đính kèm hình ảnh</button>
    <ul class="ulThumbnail">
      <li class="liThumbnail" data-ng-repeat="attachment in attachments">
        <img ng-src="{{ attachment.source }}" class="imgThumbnail"/>
        <img src="/hc/theme_assets/514860/115000074987/spinner.gif" class="spinner" ng-hide="attachment.loaded">
        <a data-ng-click="removeAttachment(attachment)"><i class="fa fa-remove"></i></a>
      </li>
    </ul>
    <div role="alert" class="alert alert-upload-danger alert-dismissable fade show">
      <button type="button" class="close" data-dismiss="alert" aria-label="Đóng">
        <span aria-hidden="true">&times;</span>
      </button>
      <div>
        Bạn không thể đính kèm nhiều hơn 5 ảnh.
      </div>
    </div>
  </fieldset>
  <fieldset class="form-field" ng-if="showSubmit">
    <button type="button" id="btnSubmitLoad" class="button-large" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Thực hiện yêu cầu" ng-hide="true" ng-click="submit(request)" ng-disabled="requestForm.$invalid || !uploadsCompleted || showSelectDropdown">Gửi thông tin</button>
    <input type="submit" id="formSubmit" ng-click="sendGA('Submit'); submit(request)" value="Gửi thông tin" ng-disabled="requestForm.$invalid || !uploadsCompleted || showSelectDropdown">
</fieldset>
  <div ng-if="callButton" class="call-button" ng-cloak>
    <a role="button" class="button-outline" ng-if="(isMobileApp)" ng-click="sendGA('Regular')" href="tel:+842871087108">
      <i class="fa fa-phone"></i>&nbsp;Gọi đến Grab
    </a>
  </div>
  <div ng-if="callButton" class="web-call-button" ng-cloak>
    <!-- Show call number on Web Browser -->
    <a role="button" class="button-outline browser-button" ng-if="(!isMobileApp)" ng-click="sendGA('Regular'); setPhoneNo($event, '(842) 7108 7108');" href="#">
      <span id="showPhoneNo">&nbsp;&nbsp;<i class="fa fa-phone"></i>&nbsp;Gọi đến Grab&nbsp;&nbsp;</span>
    </a>
  </div>
  <!-- Alerts -->
  <div ng-show="submitted" role="alert" class="alert alert-success alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-label="Đóng">
      <span aria-hidden="true">&times;</span>
    </button>
    Grab đã nhận được thông tin. Chúng tôi sẽ xử lý trong thời gian sớm nhất.

  </div>
  <div ng-show="zendeskError" role="alert" class="alert alert-danger alert-dismissable fade show">
    <button type="button" class="close" data-dismiss="alert" aria-label="Đóng">
      <span aria-hidden="true">&times;</span>
    </button>
    <div>
      Có lỗi xảy ra. Vui lòng thử lại.

    </div>
  </div>
</ng-form>
